#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.yt-lite {
  aspect-ratio: 9/16;
}

.yt-iframe {
  aspect-ratio: 9/16;
  width: 100%;
}
